<h2>Newsletter</h2>

<p>Subscribe to our newsletter to stay up to date with the newest developments around Digital ID:</p>

<form action="https://digitalid.us17.list-manage.com/subscribe/post?u=7de6db08649f145f8fc508096&amp;id=7af201cb93" method="post" id="newsletter-form" target="_blank" novalidate>
    <div class="form-group">
        <label for="newsletter-email">Email Address</label>
        <input type="email" id="newsletter-email" name="EMAIL" class="form-control">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="newsletter-fname">First Name</label>
        <input type="text" id="newsletter-fname" name="FNAME" class="form-control">
    </div>
    {% comment %}
    <div class="form-group">
        <label for="newsletter-lname">Last Name</label>
        <input type="text" id="newsletter-lname" name="LNAME" class="form-control">
    </div>
    {% endcomment %}
    
    <div class="form-group">
        <label for="newsletter-interest">Main Interest</label>
        <select id="newsletter-interest" name="INTEREST" class="form-control">
            <option value=""></option>
            <option value="Apps">Apps</option>
            <option value="Protocol">Protocol</option>
            <option value="Library">Library</option>
            <option value="Hosting">Hosting</option>
        </select>
    </div>
    
    {% comment %}
    <fieldset class="form-group">
        <label>Email Format</label>
        <div class="form-check">
            <input type="radio" id="newsletter-html" name="EMAILTYPE" value="html" checked="" class="form-check-input">
            <label for="newsletter-html" class="form-check-label">html</label>
        </div>
        <div class="form-check">
            <input type="radio" id="newsletter-text" name="EMAILTYPE" value="text" class="form-check-input">
            <label for="newsletter-text" class="form-check-label">text</label>
        </div>
    </fieldset>
    {% endcomment %}
    
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7de6db08649f145f8fc508096_7af201cb93" tabindex="-1" value=""></div>
    <button type="submit" id="newsletter-subscribe" name="subscribe" class="btn btn-primary">Subscribe</button>
</form>

<h2 style="margin-top: 32px;">Download</h2>

<p><a href="https://play.google.com/store/apps/details?id=net.digitalid.smartcontacts" target="_blank"><img id="appstore-icon" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a></p>
<p style="margin-top: 20px;">iOS version is coming soon.</p>
